<html>
  <head>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
  </head>
  <body>
    <h2 id="connected">Not Connected</h2>
    <p>No peerid</p>
    <input id="input" placeholder="not connected">
  </body>
  <script src="/js/main.js"></script>
</html>